
body {
	font: 400 27px/1.5 Georgia, serif;
	color: #000;
	background-color: #fff;
}
p {
	font-size: 18px;
    font-weight: 300;
    line-height: 34px;
    text-align: left;
}
.vk-container {
	max-width: 1500px;
	margin: 0 auto;
	padding: 130px 30px;
}
p::first-letter {
    font-size: 100px;
    color: #171717;
}
i::before {
	content: " “ ";
	text-align: left;
}
button {
	list-style: none;
}
.vk-input {
	border: 1px solid orange;
	background: #fff;
	color: orange;
	padding: 10px 40px;
}
